<%= link_to 'Products', :products %>

<h1>Create new product</h1>

<%= form_with(model: @product) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label(:description) %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.submit() %>
  </div>
<% end %>
